<div class="container mt-5">  
  <div class="row d-flex justify-content-center">      
    <div class="col-md-7">
      <div class="card p-3 py-4">
        
        <div class="text-center">
            <img src="https://i.imgur.com/byiKL6h.jpeg" width="300" class="rounded">
        </div>
        
        <div class="text-center mt-3">
          <h5 class="mt-2 mb-0"><%= @event.title %></h5>
        </div>
        <br/>
        <div class="container w-50">
          <span>Location: <%= @event.location %> </span>
          <br/>
          <span>Date: <%= @event.start_date.strftime('%d %b %Y, %I:%M %p') %> </span>
          <br/>
          <span>Duration: <%= @event.duration %> mins</span>
          <br/>
          <span>Price per ticket: <%= @event.price %> euro</span>
        </div>
        <br/>
        <div class="px-4 mt-1">
          <p class="fonts"> <%= @event.description %> </p>
        
        </div>
        <% if @event.organiser == current_user %>
          <div class="buttons text-center">
            <%= link_to "Edit Event", edit_event_path(@event.id), class: "btn btn-outline-primary px-4" %>
          </div>
          <br />
          <div class="buttons text-center">
            <%= link_to "Delete Event", event_path(@event.id), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger px-4" %>
          </div>   
        <% else %>
          <div class="buttons text-center">
            <%= link_to "Join Event", new_participation_path, class:"btn btn-outline-primary px-4" %>
          </div>            
        <% end %>
        </br>                 
                                        
      </div>        
    </div>
  </div>    
</div>